$primary-color: #705740;
$secondary-color: #ca8029;
$background-color: #fff7ed;
$accent-color: #00c9ad;

$headline-font: "Aboreto";
$paragraph-font: "Gotu";
$accent-font: "Sacramento";

$logo-font: "Sacramento";
